.sentiment-gauge {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

.gauge-svg {
    width: 100%;
    height: auto;
}

.gauge-arc {
    transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}